/** Bootstrap overrides **/

.btn-primary {
  background-color: #279af1 ;
}

/** Custom css **/
html, body {
  overflow-x:hidden 
} 
.navBar {
  background: #131112;
  color: white;
  font-family: 'PT Serif', serif;
}

.navBar a {
  color: white;
}

.banner {
  background-image: url("images/forest.png");
  background-position: center center;
  height: 35vw;
  font-family: 'PT Serif', serif;
  color: black;
}

.hero-image {
  width: max(32vw, 50%);
  height: max(32vw, 50%);
}